---
export async function getStaticPaths() {
  const posts = [
    { id: "1", category: "astro", title: "API Reference" },
    { id: "2", category: "react", title: "Creating a React Counter!" },
  ];
  return posts.map((post) => {
    return {
      params: { path: post.id },
      props: { post },
    };
  });
}
const { path } = Astro.params;
const { post } = Astro.props;
---

<body>
  <h1>{path}: {post.title}</h1>
  <h2>Category: {post.category}</h2>
</body>
